{%extends 'layout.html'%}
{%block content%}
    <div class="container" style="background-color: rgba(255,255,255,0.5);margin-top: 10px;border-radius: 10px;padding: 10px;">
    	<form method="POST" action="">
    		{{form.hidden_tag()}}
    		<fieldset class="form-group">
    			<legend style="border-bottom: 2px solid white;">Change Password</legend>
                <div class="form-group">
                    {{form.password.label(class="form-control-label")}}
                    {% if form.password.errors  %}
                        {{form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else%}
                        {{form.password(class="form-control form-control-lg")}}
                    {%endif%}
                    
                </div>
    			<div class="form-group">
    				{{form.new_password.label(class="form-control-label")}}
    				{% if form.new_password.errors  %}
    					{{form.new_password(class="form-control form-control-lg is-invalid")}}
    					<div class="invalid-feedback">
    						{% for error in form.new_password.errors %}
    							<span>{{ error }}</span>
                            {% endfor %}
    					</div>
    				{%else%}
    					{{form.new_password(class="form-control form-control-lg")}}
    				{%endif%}
    				
    			</div>
    			<div class="form-group">
    				{{form.confirm_new_password.label(class="form-control-label")}}
    				{% if form.confirm_new_password.errors  %}
    					{{form.confirm_new_password(class="form-control form-control-lg is-invalid")}}
    					<div class="invalid-feedback">
    						{% for error in form.confirm_new_password.errors %}
    							<span>{{ error }}</span>
                            {% endfor %}
    					</div>
    				{%else%}
    					{{form.confirm_new_password(class="form-control form-control-lg")}}
    				{%endif%}
    				
    			</div>
    		</fieldset>
    	<div class="form-group">
    		{{form.submit(class="btn btn-primary")}}
    	</div>
    	</form>
    	
    </div>
{%endblock%}